*.pth
*.pk
*.model
*.zip
*.tar
*.pyc
*.log
*.o
*.so
*.a
*.exe
*.out
.idea
**.DS_Store**
**/__pycache__/**
examples
datasets/pycocotools
**.swp
build
**/build
imagenet_info/
.vscode/
*_build
.env

**/checkpoints/**
**/events/**
**/results/**
**/petrel.log/**
*log.txt
**/test_codes
**/38.33M_only_web_data_200k_bs128_rank64_lr0.2
**/46M_5M_for_liveness
**/88M_only_web_data_450k_bs128_rank64_lr0.2
**/debug_val
**/res50_*
**/web_imagenet_1M
**/yfcc15M_text_*
**/yfcc15M_bert_*
**/yfcc_only_web_data_450k_bs128_rank64_lr0.2
**/lyg
**/clip_self
**/CC2.5M
**/other_experiments
**/liyangguang
# **/CC2.5M_v2_r50_lyg_*
**/CC2.5M_v2_r50_lyg_AdamWSGDV2_*
**/arun_log
**/arun_log*
